In [3]:
# Importing the necessary packages
import numpy as np                                  # "Scientific computing"
import pandas as pd                                 # Data Frame

In [11]:
# Load the XLSX file into a DataFrame
df = pd.read_excel('https://github.com/HoGentTIN/dsai-labs/raw/main/data/belgian_population.xlsx')

The file belgian_population.xlsx contains data about the Belgian population by marital status, age and gender in 2023. There are 4 marital statuses:  
- unmarried
- married
- widowed
- divorced

In [8]:
df.head()

,Age,Women_Unmarried,Men_Unmarried,Women_Married,Men_Married,Women_Widowed,Men_Widowed,Women_Divorced,Men_Divorced
0,0,55736,58323,NaN,NaN,NaN,NaN,NaN,NaN
1,1,58676,61395,NaN,NaN,NaN,NaN,NaN,NaN
2,2,57171,59793,NaN,NaN,NaN,NaN,NaN,NaN
3,3,59316,61471,NaN,NaN,NaN,NaN,NaN,NaN
4,4,60023,62562,NaN,NaN,NaN,NaN,NaN,NaN

1. We want to add a separate column showing the total number of women and the total Number_of_Men by age.  
Before we can sum, however, we need to replace all NaNs with 0. Otherwise, the total sum by age will also be NaN. We are nothing with that.

In [10]:
df = df.fillna(0)
df.head()

,Age,Women_Unmarried,Men_Unmarried,Women_Married,Men_Married,Women_Widowed,Men_Widowed,Women_Divorced,Men_Divorced
0,0,55736,58323,0.0,0.0,0.0,0.0,0.0,0.0
1,1,58676,61395,0.0,0.0,0.0,0.0,0.0,0.0
2,2,57171,59793,0.0,0.0,0.0,0.0,0.0,0.0
3,3,59316,61471,0.0,0.0,0.0,0.0,0.0,0.0
4,4,60023,62562,0.0,0.0,0.0,0.0,0.0,0.0

2. Add two new columns:
- the total number of women by age
- the total Number_of_Men by age

In [58]:
df['Number_of_Women'] = df['Women_Unmarried'] + df['Women_Widowed'] + df['Women_Married'] + df['Women_Divorced']
df['Number_of_Men'] = df['Men_Unmarried'] + df['Men_Widowed'] + df['Men_Married'] + df['Men_Divorced']
df.head(50)

,Age,Women_Unmarried,Men_Unmarried,Women_Married,Men_Married,Women_Widowed,Men_Widowed,Women_Divorced,Men_Divorced,Number_of_Women,Number_of_Men
0,0,55736,58323,0.0,0.0,0.0,0.0,0.0,0.0,55736.0,58323.0
1,1,58676,61395,0.0,0.0,0.0,0.0,0.0,0.0,58676.0,61395.0
2,2,57171,59793,0.0,0.0,0.0,0.0,0.0,0.0,57171.0,59793.0
3,3,59316,61471,0.0,0.0,0.0,0.0,0.0,0.0,59316.0,61471.0
4,4,60023,62562,0.0,0.0,0.0,0.0,0.0,0.0,60023.0,62562.0
5,5,60849,63560,0.0,0.0,0.0,0.0,0.0,0.0,60849.0,63560.0
6,6,62203,65186,0.0,0.0,0.0,0.0,0.0,0.0,62203.0,65186.0
7,7,62964,65775,0.0,0.0,0.0,0.0,0.0,0.0,62964.0,65775.0
8,8,64389,67913,0.0,0.0,0.0,0.0,0.0,0.0,64389.0,67913.0
9,9,64814,68053,0.0,0.0,0.0,0.0,0.0,0.0,64814.0,68053.0
10,10,66705,69420,0.0,0.0,0.0,0.0,0.0,0.0,66705.0,69420.0
11,11,67229,70357,0.0,0.0,0.0,0.0,0.0,0.0,67229.0,70357.0
12,12,68401,71408,0.0,0.0,0.0,0.0,0.0,0.0,68401.0,71408.0
13,13,67739,71096,0.0,0.0,0.0,0.0,0.0,0.0,67739.0,71096.0
14,14,67717,71560,0.0,0.0,0.0,0.0,0.0,0.0,67717.0,71560.0
15,15,66779,69603,0.0,0.0,0.0,0.0,0.0,0.0,66779.0,69603.0
16,16,66383,69088,2.0,0.0,0.0,0.0,0.0,0.0,66385.0,69088.0
17,17,64529,68141,4.0,0.0,0.0,0.0,0.0,0.0,64533.0,68141.0
18,18,64243,68028,71.0,10.0,0.0,0.0,0.0,0.0,64314.0,68038.0
19,19,63554,66451,283.0,44.0,0.0,0.0,0.0,0.0,63837.0,66495.0
20,20,63080,66465,653.0,115.0,0.0,0.0,10.0,0.0,63743.0,66580.0
21,21,64320,67385,1324.0,308.0,1.0,0.0,16.0,5.0,65661.0,67698.0
22,22,65224,69068,2379.0,709.0,1.0,0.0,43.0,10.0,67647.0,69787.0
23,23,64315,68241,3540.0,1153.0,1.0,2.0,102.0,32.0,67958.0,69428.0
24,24,63753,68198,5193.0,1856.0,7.0,1.0,167.0,40.0,69120.0,70095.0
25,25,63350,68195,7311.0,3080.0,2.0,1.0,268.0,89.0,70931.0,71365.0
26,26,61657,67281,9555.0,4614.0,16.0,2.0,428.0,132.0,71656.0,72029.0
27,27,58910,65492,12317.0,6609.0,21.0,2.0,602.0,212.0,71850.0,72315.0
28,28,55971,63811,15460.0,9051.0,26.0,2.0,835.0,368.0,72292.0,73232.0
29,29,55128,62854,19099.0,11791.0,41.0,10.0,1191.0,524.0,75459.0,75179.0
30,30,53034,61969,22918.0,14989.0,47.0,10.0,1664.0,730.0,77663.0,77698.0
31,31,50456,59481,25822.0,18138.0,58.0,16.0,2255.0,1061.0,78591.0,78696.0
32,32,47675,56364,28391.0,20467.0,94.0,12.0,2776.0,1428.0,78936.0,78271.0
33,33,44239,52700,29905.0,22755.0,111.0,31.0,3416.0,1808.0,77671.0,77294.0
34,34,41645,49590,32110.0,25261.0,121.0,32.0,4030.0,2301.0,77906.0,77184.0
35,35,38972,46411,32684.0,26637.0,156.0,29.0,4750.0,2664.0,76562.0,75741.0
36,36,36646,44412,34237.0,28052.0,201.0,43.0,5177.0,3313.0,76261.0,75820.0
37,37,34563,41467,34380.0,28992.0,233.0,49.0,5914.0,3651.0,75090.0,74159.0
38,38,33492,39913,35033.0,30310.0,279.0,52.0,6754.0,4363.0,75558.0,74638.0
39,39,31817,38336,35983.0,31543.0,325.0,84.0,7240.0,4864.0,75365.0,74827.0
40,40,30906,37423,37520.0,33373.0,365.0,73.0,8105.0,5349.0,76896.0,76218.0
41,41,29686,36546,38087.0,34613.0,421.0,112.0,8929.0,6219.0,77123.0,77490.0
42,42,29287,35246,39013.0,35565.0,564.0,120.0,9733.0,6880.0,78597.0,77811.0
43,43,26999,33809,38530.0,36030.0,600.0,132.0,10217.0,7345.0,76346.0,77316.0
44,44,25527,31518,38476.0,36130.0,667.0,165.0,11057.0,7913.0,75727.0,75726.0
45,45,23969,30090,38327.0,36236.0,747.0,170.0,11605.0,8359.0,74648.0,74855.0
46,46,22295,28338,37928.0,36538.0,831.0,196.0,12128.0,8941.0,73182.0,74013.0
47,47,20947,26827,37343.0,36223.0,879.0,244.0,12670.0,9662.0,71839.0,72956.0
48,48,20022,26307,38698.0,37876.0,1060.0,285.0,13651.0,10492.0,73431.0,74960.0
49,49,19164,25551,39261.0,39121.0,1182.0,294.0,14838.0,11550.0,74445.0,76516.0

3. What is the total number of women and men in Belgium?

In [59]:
print(f'total number of men in Belgium: {sum(df["Number_of_Men"])}')
print(f'total number of women in Belgium: {sum(df["Number_of_Women"])}')

total number of men in Belgium: 5761410.0
total number of women in Belgium: 5936147.0

4. What is the average age for women and men in Belgium? Do women still outlive men?

In [64]:
malePopulation = sum(df['Number_of_Men'])
femalePopulation = sum(df['Number_of_Women'])

maleAges = df[['Age', 'Number_of_Men']]
femaleAges = df[['Age', 'Number_of_Women']]

maleAges['Years_lived'] = maleAges['Age'] * maleAges['Number_of_Men']
femaleAges['Years_lived'] = femaleAges['Age'] * femaleAges['Number_of_Women']

maleAverageAge = sum(maleAges['Years_lived']) / malePopulation
femaleAverageAge = sum(femaleAges['Years_lived']) / femalePopulation

print(maleAverageAge, femaleAverageAge)
if maleAverageAge > femaleAverageAge :
    print('males have a higher average age than females')
else:
    print('Females have a higher average age than males')

40.580813550849534 42.67468494294363
Females have a higher average age than males

/tmp/ipykernel_13622/1616732165.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  maleAges['Years_lived'] = maleAges['Age'] * maleAges['Number_of_Men']
/tmp/ipykernel_13622/1616732165.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  femaleAges['Years_lived'] = femaleAges['Age'] * femaleAges['Number_of_Women']

5. A first look at the data shows, that the distribution of girls vs boys is not 50/50. This is a well-known scientific phenomenon.  
Calculate the total number of girls through age 5, and the total number of boys through age 5. Based on this, calculate the exact distribution of girls vs boys.

Percentage of girls = 0.48888139696591654
Percentage of boys = 0.5111186030340835
6

In [72]:
totalWomenFrom5 = sum(df.loc[df['Age'] <= 5]['Number_of_Women'])
totalMenFrom5 = sum(df.loc[df['Age'] <= 5]['Number_of_Men'])
totalPopulation = totalMenFrom5 + totalWomenFrom5

print(f'percentage of girls = {totalWomenFrom5 / totalPopulation}')
print(f'percentage of boys =  {totalMenFrom5 / totalPopulation}')

percentage of girls = 0.4893837494490854
percentage of boys =  0.5106162505509146

6. At birth, there are more boys than girls. However, boys die younger, partly due to reckless behavior.  
From what age do women outnumber men?

In [63]:
print(min(df.loc[df['Number_of_Women'] > df['Number_of_Men']]['Age']))

29

In [73]:
for x in range(15, 56, 5):
    womenMarriedForPercentage = min(df.loc[(df['Women_Married'] / df['Number_of_Women']) * 100 > x]['Age'])
    menMarriedForPercentage = min(df.loc[(df['Men_Married'] / df['Number_of_Men']) * 100 > x]['Age'])

    print(f'Age at which {x}% of the women are married = {womenMarriedForPercentage}')
    print(f'Age at which {x}% of the men are married = {menMarriedForPercentage}')
    print('\n')

Age at which 15% of the women are married = 27
Age at which 15% of the men are married = 29


Age at which 20% of the women are married = 28
Age at which 20% of the men are married = 31


Age at which 25% of the women are married = 29
Age at which 25% of the men are married = 32


Age at which 30% of the women are married = 31
Age at which 30% of the men are married = 34


Age at which 35% of the women are married = 32
Age at which 35% of the men are married = 35


Age at which 40% of the women are married = 34
Age at which 40% of the men are married = 38


Age at which 45% of the women are married = 37
Age at which 45% of the men are married = 42


Age at which 50% of the women are married = 43
Age at which 50% of the men are married = 48


Age at which 55% of the women are married = 53
Age at which 55% of the men are married = 54

7. Make the following overview.

![image.png]()


Can you draw any conclusions based on this overview if you assume that every Belgian is married to another Belgian (which is not completely true of course)?

8. It is said that
['Loneliness is as destructive to health as smoking fifteen cigarettes a day.'](https://www.bnnvara.nl/joop/artikelen/eenzaamheid-net-zo-gevaarlijk-als-roken). Calculate the average age of women and men over 45 (45 included) for each marital status.

Some answers

3.  
Total number of women = 5936147.0  
Total number of men = 5761410.0
4.
Average age women = 42.67468494294363  
Average age men = 40.580813550849534
5.
Percentage of girls = 0.48888139696591654  
Percentage of boys = 0.5111186030340835
6.
29
8.
Unmarried --> 56.2  
Married --> 63.0  
Widowed --> 78.1  
Divorced --> 61.2