# Lab 7.04 - Time series analysis

In [1]:
# Package imports
import pandas 
from scipy import stats

stats.norm()

### Exercise 4 - Airline ticket data

Consider the airline ticket data in the file airline ticket data.csv  

- Create a time series chart of the data. Based on what you see, which of the exponential smoothing models do you think should be used for forecasting? Why?
- Create and train the model. Predict the values for the next 12 months.
- Create a plot with the airline ticket data, the fitted values and the predicted values for the next 12 months.

In [4]:
data = pandas.read_csv('https://raw.githubusercontent.com/HoGentTIN/dsai-labs/main/data/airline%20ticket%20data.csv', delimiter = ";", parse_dates=['Month']).set_index(['Month'])

/tmp/ipykernel_706396/1460757651.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data = pandas.read_csv('https://raw.githubusercontent.com/HoGentTIN/dsai-labs/main/data/airline%20ticket%20data.csv', delimiter = ";", parse_dates=['Month']).set_index(['Month'])

            Tickets
Month
2018-01-01      605
2018-02-01      647
2018-03-01      636
2018-04-01      612
2018-05-01      714
2018-06-01      765
2018-07-01      698
2018-08-01      615
2018-09-01      588
2018-10-01      685

## Source
Business Analytics Data Analysis & Decision Making